@charset 'utf-8';
/*defalue-S-*/
/*defalue-E-*/
/* ready global */
.mt30
{
    margin-top: 30px;
}
.text-left
{
    text-align: left;
}
.text-right
{
    text-align: right;
}
.text-center
{
    text-align: center;
}
/* 按钮样式S */
.spbtn
{
    font-size: 12px;
    font-weight: normal;
    line-height: 1.428571429;

    display: inline-block;

    margin-bottom: 0;
    padding: 3px 15px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    border: 1px solid transparent;
    border-radius: 3px;

         -o-user-select: none;
}
.spbtn.size-s
{
    padding: 2px 8px;
}
.spbtn.size-b
{
    padding: 3px 25px;
}
.spbtn.spbtn-sure
{
    font-weight: bold;

    color: #fff;
    background-color: #f99a34;
}
.spbtn.spbtn-sure:hover
{
    color: #fff;
    background-color: #fbb76c;
}
.spbtn.spbtn-cancel
{
    font-weight: bold;

    color: #666;
    background-color: #e7e7e7;
}
.spbtn.spbtn-cancel:hover
{
    color: #999;
    background-color: #e1e1e1;
}
.spbtn.spbtn-save
{
    font-weight: normal;

    color: #f87200;
    background-color: #feeac9;
}
.spbtn.spbtn-save:hover
{
    color: #ff8520;
    background-color: #fef0da;
}
/* 按钮样式E */
/* sptooltip-S- */
.sptooltip
{
    font-size: 12px;
    line-height: 16px;

    position: fixed;
    z-index: 1030;
    top: 10px;
    left: 20px;

  /*s*/
  /*e*/
    display: block;

    margin: 7px;

    color: #ccc;
}
.sptooltip.in
{
    opacity: .9;

    filter: alpha(opacity=90);
}
.sptooltip-inner
{
    max-width: 300px;
    padding: 10px 8px;

    text-align: left;
    text-decoration: none;

    color: #666;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 3px #ddd;
}
.sptooltip-arrow
{
    font-family: simsun;
    font-size: 12px;
    font-style: normal;

    position: absolute;

    overflow: hidden;

    text-shadow: 0 0 2px #ccc;
}
.sptooltip-arrow > em,
.sptooltip-arrow > i
{
    font-style: normal;

    position: absolute;
    top: 0;
    left: 0;
}
.sptooltip-arrow em
{
    color: #ccc;
}
.sptooltip-arrow i
{
    color: #fff;
    text-shadow: none;
}
.sptooltip.bottom .sptooltip-arrow
{
    bottom: -6px;
    left: 50%;

    width: 12px;
    height: 7px;
    margin-left: -6px;
}
.sptooltip.bottom .sptooltip-arrow > i
{
    top: -9px;
}
.sptooltip.bottom .sptooltip-arrow > em
{
    top: -8px;
}
.sptooltip.top .sptooltip-arrow
{
    top: -6px;
    left: 50%;

    width: 12px;
    height: 7px;
    margin-left: -6px;
}
.sptooltip.top .sptooltip-arrow > i
{
    top: 0;
}
.sptooltip.top .sptooltip-arrow > em
{
    top: -1px;
}
/* sptooltip-E- */
/* confirm 弹窗-S- */
.sppopwin
{
    position: fixed;
    z-index: 900;
    top: 50%;
    left: 50%;

    width: 360px;

    border: 1px solid #dbdbdb;
    background-color: #fff;
}
.popup_mask
{
    position: fixed;
    z-index: 810;
    top: 0;
    left: 0;

    width: 100%;

    opacity: .3;
    background-color: #000;

    filter: alpha(opacity=70);
}
.popup_iframe
{
    position: absolute;
    z-index: 800;
    top: 0;
    left: 0;

    width: 100%;

    opacity: .3;
    background-color: #000;

    filter: alpha(opacity=70);
}
.sppopwin-out
{
    border: 4px solid #ccc;
}
.sppopwin-in
{
    position: relative;

    border: 1px solid #e1e1e1;
}
.sppopwin-title
{
    line-height: 55px;

    height: 55px;

    border: none;
    background-color: #fff;
}
.sppopwin-title > h3
{
    font-size: 14px;
    line-height: 45px;

    height: 45px;
    margin: 0 10px;
    padding: 0;
    padding-bottom: 10px;
    padding-left: 15px;

    color: #333;
}
.sppopwin-content
{
    padding: 10px 10px 20px 10px;
}
.sppopwin-close
{
    position: absolute;
    top: 15px;
    right: 10px;

    overflow: hidden;

    width: 10px;
    height: 10px;

    cursor: pointer;

    background: url(../images/pop-close.png) no-repeat;
}
/* confirm 弹窗-E- */
/*# sourceMappingURL=style.css.map */
